.menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 15;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-border-radius: 8;
    -fx-border-width: 1.5;
}

.menu-button:hover {
    -fx-background-color: #4BA3FF;
    -fx-text-fill: #000000;
}

.logout-button {
    -fx-background-color: #C72C41;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 10 15;
    -fx-cursor: hand;
}

.logout-button:hover {
    -fx-background-color: #FF3B52;
}
